<%= form_for(urlexplorer) do |f| %>
  <% if urlexplorer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(urlexplorer.errors.count, "error") %> prohibited this urlexplorer from being saved:</h2>

      <ul>
      <% urlexplorer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_area :url %>
  </div>

  <div class="actions">
    <%= f.submit "Parse"%>
  </div>
<% end %>
