<p id="notice"><%= notice %></p>

<h1>Urlexplorers</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Parsed headers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urlexplorers.each do |urlexplorer| %>
      <tr>
        <td><%= urlexplorer.url %></td>
        <td><%= urlexplorer.parsed_headers %></td>
        <td><%= link_to 'Show', urlexplorer %></td>
        <td><%= link_to 'Edit', edit_urlexplorer_path(urlexplorer) %></td>
        <td><%= link_to 'Destroy', urlexplorer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Urlexplorer', new_urlexplorer_path %>
